.mainContainer {
    background-color: #636161;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 5rem;
    height: 12vh;
    font-weight: 500;
    border-bottom: 1px solid;
}

.logo {
    height: 10vh;
    cursor: pointer;
    border-radius: 1em;
    margin-right: 0.5em;
    /* border-bottom-left-radius: 15em;
    border-bottom-right-radius: 15em; */

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.joinNowNavbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    background-color: #ec1313;
    height: 12vh;
    width: 14vw;
    color: #F7FDFD;
}

.hvr:hover {
    cursor: pointer;
    color: #3be1e4;

}



.hvrj:hover {
    cursor: pointer;
    color: #3be1e4;

}

.link {
    text-decoration: none;
    /* color: rgb(58, 15, 15); */
    color: white;
}

.left {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.title {
    color: #3be1e4;
}

.coursesLink {
    position: relative;
    /* So the dropdown is positioned relative to this */
}

.coursesDropdown {
    position: absolute;
    top: 100%;
    /* Align just below the "Courses" link */
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    width: 20vw;
    padding: 10px;
    z-index: 100;
    /* Make sure it's above other elements */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.coursesDropdown ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.coursesDropdown ul a {
    color: #007bff; /* Bootstrap primary color */
    text-decoration: none; /* Ensure no underline */
}



.coursesDropdown li {
    
    padding: 5px 10px;
    cursor: pointer;
}

.coursesDropdown li:hover {
    background-color: #696666;
    /* Add hover effect */
    border-radius: 5px;
}

.active {
    position: relative; /* Positioning for the pseudo-element */
    font-weight: bold; /* Bold text */
  }
  
  .active::after {
    content: ""; /* Pseudo-element content */
    position: absolute;
    left: 50%; /* Start from the center */
    bottom: -4px; /* Adjust this value based on distance from the text */
    transform: translateX(-50%); /* Center the underline */
    width: 110%; /* Set the underline width to a percentage of the text width */
    height: 3px; /* Set the thickness of the underline */
    background-color: #3be1e4; /* Set underline color */
    border-radius: 3px; /* Apply border radius to the underline */
  }
  
  

